<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1>h1 Hello World</h1>
      <h2>h2 Hello World</h2>
      <h3>h3 Hello World</h3>
      <p>p Hello World</p>
      <span>poesie EVERYTHING is beautiful in this GREY FUCKING world! </span>
    </div>
  </div>
  _________________
  <div class="row">
    <div class="col-xs-12 col-sm-6">
    <h1>Map color</h1>
    <div class="btn" style="width: 100px; height: 20px; background-color: #0F1416;"></div>
    #0F1416
    <div class="btn" style="width: 100px; height: 20px; background-color: #2B383C;"></div>
    #2B383c
    <h1>Main Color</h1>
    <div class="btn" style="width: 100px; height: 20px; background-color: #00A5B7;"></div>
    #00A5B7
    <h1>Journey Color</h1>
    None as of yet
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-2">
      <h1>Style Guide</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2 style-guide--sidebar">
      <ul class="list-unstyled">
        <li><%= link_to "Frameworks", "#frameworks" %></li>
        <li><%= link_to "Inspiration", "#inspiration" %></li>
        <li><%= link_to "Typography", "#typography" %></li>
        <li>
          <strong>Base</strong>
          <ul class="list-unstyled">
            <li><%= link_to "Colors", "#colors" %></li>
            <li><%= link_to "Buttons", "#buttons" %></li>
            <li><%= link_to "Logo", "#logo" %></li>
            <li><%= link_to "Images", "#images" %></li>
          </ul>
        </li>
        <li>
          <strong>Components</strong>
          <ul class="list-unstyled">
            <li><%= link_to "Alerts", "#alerts" %></li>
            <li><%= link_to "Avatars", "#avatars" %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-10">
      <div id="frameworks" class="style-guide--entry">
        <h2>Frameworks</h2>
        <div class="style-guide--subentry">
          <p>
            This website is based on <%= link_to "Bootstrap", "http://getbootstrap.com/" %> framework.
            We use their <strong>grid system</strong>, typography, buttons, forms and so on.
            Please refer to their documentation for anything that is not specified in this guide.
          </p>
          <p>
            It's also based on <%= link_to "Font Awesome icons", "http://fontawesome.io/icons/" %>
          </p>
        </div>
      </div>
      <div id="inspiration" class="style-guide--entry">
        <h2>Inspiration</h2>
        <div class="style-guide--subentry">
          <p>
            We took inspiration from these websites:
          </p>

          <ul>
            <li><%= link_to "Le Wagon", "https://www.lewagon.com/" %></li>
            <li><%= link_to "Le Wagon - On Demand", "https://ondemand.lewagon.org/" %></li>
          </ul>
        </div>
      </div>
<!-- TYPO START HERE -->
      <div id="typography" class="style-guide--entry">
        <h2>Typography</h2>
        <div class="style-guide--subentry">
          <p>We use several fonts for different purposes:</p>
          <ul>
            <li><%= @base_font %> for <strong>forms</strong></li>
            <li><%= @header_font %> for <strong>headers</strong></li>
            <li><%= @base_font %> for any other <strong>text</strong></li>
          </ul>
        </div>

<!-- HEADERS -->
        <div class="style-guide--subentry">
          <h3 id="headers">Headers</h3>
          <p>We use <%= @header_font %> font for headers. We've defined up to 6 levels but we mainly use only the first 3 ones.</p>
          <div class="style-guide--headers">
            <h1 class="style-guide--header">Heading Level 1</h1>
            <h2 class="style-guide--header">Heading Level 2</h2>
            <h3 class="style-guide--header">Heading Level 3</h3>
            <h4 class="style-guide--header">Heading Level 4</h4>
            <h5 class="style-guide--header">Heading Level 5</h5>
            <h6 class="style-guide--header">Heading Level 6</h6>
          </div>
        </div>

<!-- TEXT FONT -->
        <div class="style-guide--subentry">
          <h3 id="text">Text</h3>
          <p>We use <%= @base_font %> font for any other text such as paragraphs, lists and so on.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <ul>
                <li>Unordered list</li>
                <li>With bullets</li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6">
              <ul class="list-unstyled">
                <li>Unordered list</li>
                <li>Without bullets</li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6">
              <ol>
                <li>Ordered list</li>
                <li>With numbers then</li>
              </ol>
            </div>
            <div class="col-xs-12 col-md-6">
              <dl>
                <dt>Definition list</dt>
                <dd>With a description</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-6">
              <ul class="list-inline">
                <li>Inlined list</li>
                <li>Without bullets</li>
              </ul>
            </div>
          </div>
          <blockquote>
            <p>[Blockquote] The point of the journey is not to arrive.</p>
            <cite> Steven Frischling</cite>
          </blockquote>
        </div>

        <div class="style-guide--subentry">
          <h3 id="poesie">Poesie</h3>
          <span class="poesie">
          Le vin sait revêtir le plus sordide bouge
          D'un luxe miraculeux,
          Et fait surgir plus d'un portique fabuleux
          Dans l'or de sa vapeur rouge,
          Comme un soleil couchant dans un ciel nébuleux.
          </span>
        </div>
<!--  COMMENTAIRE FORM -->
        <!-- <div class="style-guide--subentry">
          <h3 id="forms">Forms</h3>
          <p>We use <%= @base_font %> font for forms.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <form>
                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" class="form-control" id="first_name" placeholder="Bob">
                </div>
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" class="form-control" id="last_name" placeholder="Dylan">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div> -->
      </div>
<!-- COMMENTAIRE COLOR -->
      <div id="base" class="style-guide--entry">
        <h2>Base</h2>
        <div id="colors" class="style-guide--subentry">
          <div class="row style-guide--colors">
<h3>MAIN COLORS</h3>
<div class="col-sm-12">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color brand-color"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$brand-color</li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
<h3>MAP COLORS</h3>
<div class="col-sm-12">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color map-black"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$map-black</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color map-grey"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$map-grey</li>
                  </ul>
                </div>
              </div>
            </div>
</div>
<h3>JOURNEY COLORS</h3>
<div class="col-sm-12">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color journey-red"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$journey-red</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color journey-cream"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$journey-cream</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color journey-orange"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$journey-orange</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color journey-green"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$journey-green</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
<!-- BOUTONS COMMENTAIRES -->
        <div id="buttons" class="style-guide--subentry">
          <h3>Buttons</h3>
          <div class="style-guide--buttons">
            <ul class="list-inline">
              <li><i class="fa fa-plus-circle btn-fa" style=""aria-hidden="true"></i></li>
              <li><i class="fa fa-check-circle btn-fa" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>



<!-- LABELS COMMENTAIRES -->
        <!-- <div id="labels" class="style-guide--subentry">
          <h3>Labels</h3>
          <div class="style-guide--labels">
            <ul class="list-inline">
              <li><span class="label label-default">Default</span></li>
              <li><span class="label label-primary">Primary</span></li>
              <li><span class="label label-success">Success</span></li>
              <li><span class="label label-info">Info</span></li>
              <li><span class="label label-warning">Warning</span></li>
              <li><span class="label label-danger">Danger</span></li>
            </ul>
          </div>
        </div> -->


        <div id="logo" class="style-guide--subentry">
          <h3>Logo</h3>
          <div class="style-guide--logo">
            <%= image_tag 'logo.png', width: 150 %>
          </div>
        </div>
        <div id="images" class="style-guide--subentry">
          <h3>Images</h3>
          <div class="style-guide--images">
            <%# OF COURSE, please use one image from app/assets/images ;) %>
            <%# if your images have a gradient or something else, provide a class %>
            <%= image_tag 'https://media.licdn.com/media/AAEAAQAAAAAAAAfFAAAAJDYyNmNkODg4LWU2NmMtNDczOS05ZGY4LThiMmU3NTYwODU4NQ.jpg', width: '100%' %>
          </div>
        </div>
      </div>
      <div id="components" class="style-guide--entry">
        <h2>Components</h2>
        <div id="alerts" class="style-guide--subentry">
          <h3>Alerts</h3>
          <div class="style-guide--alerts">
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Some notice message
            </div>
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Some alert message
            </div>
          </div>
        </div>
        <div id="avatars" class="style-guide--subentry">
          <h3>Avatars</h3>
          <div class="style-guide--avatars">
            <ul class="list-inline">
              <li><%= image_tag "logo.png",  alt: "user", class: "avatar" %></li>
              <li><%= image_tag "logo.png",  alt: "user", class: "avatar-medium" %></li>
              <li><%= image_tag "logo.png",  alt: "user", class: "avatar-small" %></li>
            </ul>
          </div>
        </div>
<!--
        <div id="component_name" class="style-guide--subentry">
          <h3>New component</h3>
          <div class="style-guide--badges">
            <strong>>> Your new component HERE <<</strong>
          </div>
        </div> -->

<!-- ICON COMMENTAIRE -->
        <div id="icon_name" class="style-guide--subentry">
          <h3>Icons</h3>
          <i class="fa fa-angle-up btn-fa" aria-hidden="true"></i>
          <i class="fa fa-angle-down btn-fa" aria-hidden="true"></i>
          <i class="fa fa-angle-left btn-fa" aria-hidden="true"></i>
          <i class="fa fa-angle-right btn-fa" aria-hidden="true"></i>
          <i class="fa fa-font  btn-fa" aria-hidden="true"></i>
          <i class="fa fa-exclamation  btn-fa" aria-hidden="true"></i>
          <i class="fa fa-youtube-play btn-fa" aria-hidden="true"></i>
          <i class="fa fa-microphone btn-fa" aria-hidden="true"></i>
          <i class="fa fa-camera btn-fa" aria-hidden="true"></i>
          <i class="fa fa-map-marker btn-fa" aria-hidden="true"></i>


        </div>
      </div>
    </div>
  </div>
</div>

