<style type="text/css">
body {
    overflow:hidden;
}
</style>






<div class="container-full a-100vh">
  <div class="row-no-padding">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="container-height-index">

        <div class="map-index-start" id="map" >
        </div>

        <div class="container-height-20vh hidden-content">
          <div class="journeys-footer-index-i">
            <div class="journeys-footer-title-index">
              <h4 class="x" id="poi-title1">  </h4>
              <h4 class="y hidden-content" id="poi-title2">  </h4>
              <h4 class="z hidden-content" id="poi-title3">  </h4>
              <h4 class="w hidden-content" id="poi-title4">  </h4>
            </div>
          </div>

          <div class="hidden-content" id="tabs-container">
            <div class="tabs-menu-index">
              <div class="current">
                <a href="#tab-1" class="x" id="tab-1">
                </a>
              </div>
              <div>
                <a href="#tab-2" class="y" id="tab-2">

                </a>
              </div>
              <div>
                <a href="#tab-3" class="z" id="tab-3">

                </a>
              </div>
              <div>
                <a href="#tab-4" class="w" id="tab-4">

                </a>
              </div>
            </div>
            <div class="tab">
              <div id="itab-1" class="x" style=""></div>
              <div id="itab-2" class="y" style="display: none;"></div>
              <div id="itab-3" class="z" style="display: none;"></div>
              <div id="itab-4" class="w" style="display: none;"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
String.prototype.supplant = function (o) {
    return this.replace(/{([^{}]*)}/g,
        function (a, b) {
            var r = o[b];
            return typeof r === 'string' || typeof r === 'number' ? r : a;
        }
    );
};

var styleOut =
[  {
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape.man_made",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.medical",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.place_of_worship",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.school",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.sports_complex",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#2b383e"
      },
      {
        "weight": 0.5
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#00a5b7"
      },
      {
        "weight": 2
      }
    ]
  }
];

var centerMap = new google.maps.LatLng(47.216941, -1.551437);
var myOptions = {
  zoom: 13,
  center: centerMap,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: styleOut,
  mapTypeControl: false,
  streetViewControl: false,
  zoomControl: false
};
var map = new google.maps.Map(document.getElementById('map'), myOptions);
var ico = "<%= image_path "marqueur.svg" %>";
var marker_orange = "<%= image_path "marker_orange.png" %>";
var marker_red = "<%= image_path "marker_red.png" %>";
var marker_yellow = "<%= image_path "marker_yellow.png" %>";
var marker_green = "<%= image_path "marker_green.png" %>";
var marker_passiv = "<%= image_path "marker_passiv.png" %>";
var titre = "La Cordee";
var blue = '#0000FF';
var green = '#00FF00';
var red = '#FF0000';
var yellow = '#F0F000';
var purple = '#FF1AFF';
var orange = '#ff8b00';
var all_markers = {};
var counter = 0;
var errorRaised = "No errors for now";
<% color = ['#ff8b00', '#CD3131', '#d59bf6', '#ffe98a'] %>

// var icon= {
// url: icoGreen
// scaledSize: new google.maps.Size(25, 25),
// strokeColor: '#ff0000',
// optimized: false

// };

function pinSymbol(color) {
  return {
        path: 'M 9.732 -0.001 c -5.375 0 -9.729 4.356 -9.732 9.73 h 0.004 c 0.025 2.399 1.686 6.169 3.576 9.84 l 4.166 7.42 c 0.852 1.41 1.418 2.301 1.42 2.305 l 0.564 0.885 l 0.564 -0.885 c 0.002 -0.004 0.57 -0.895 1.424 -2.305 l 4.164 -7.418 c 1.889 -3.67 3.547 -7.44 3.578 -9.842 c 0 -5.374 -4.353 -9.73 -9.728 -9.73 z M 9.73 14.037 c -2.596 0 -4.697 -2.104 -4.697 -4.697 s 2.101 -4.697 4.697 -4.697 c 2.594 0 4.697 2.104 4.697 4.697 s -2.103 4.697 -4.697 4.697 z',

        fillColor: color,
        fillOpacity: 1,
        scaledSize: new google.maps.Size(25, 25),
        anchor: new google.maps.Point(9, 30),
        strokeWeight: 0,
        scale: 1,

  }
};


//['#E59500', '#F44336', '#E5DADA', '#52DEE5']

var icoGreen = pinSymbol('#E6E7E8');

// var marker =;

// -----------------------------------------------------------
function marquePoi(lat,lng,ico,titre, visibility) {
  var maLatLng = new google.maps.LatLng(lat, lng);
  var marqueur = new google.maps.Marker({
  position: maLatLng,
  map: map,
  title: titre,
  visible: visibility,
  icon: ico
  });
  all_markers[counter] = marqueur;
  counter++;
  return marqueur;
};

function addToCoordinatesObjectArray(coordinatesArray, lat, lng){
  var newLatLng = new google.maps.LatLng(lat, lng)
  coordinatesArray.push(newLatLng);
};

function createParcours(hashDanslArray, color) {
  var coordinatesArray = []
    for(var i = 0; i < hashDanslArray.length; i++) {
      var lat = hashDanslArray[i][0];
      var lng = hashDanslArray[i][1];
      var total = lat+" "+lng
      addToCoordinatesObjectArray(coordinatesArray, lat, lng);
      marquePoi(lat,lng, icoGreen, total, true)
    }
  var parcoursPath = new google.maps.Polyline({
    path: coordinatesArray,
    geodesic: true,
    strokeColor: color,
    strokeOpacity: 1,
    strokeWeight: 4,
  });
  parcoursPath.setMap(map);
};

function getCoordinatesonClick() {
  var infowindow = null;
  var marqueur = null;
  map.addListener("click", function (event) {
    if (infowindow) {
      infowindow.close();
    }
    var lat = event.latLng.lat();
    var lng = event.latLng.lng();
    infowindow = new google.maps.InfoWindow({
      content: lat + ', ' + lng
    });
    marqueur = marquePoi(lat, lng, ico, "", false)
    infowindow.open(map, marqueur);
  });
};



<% @coordinates_hash.each_with_index do |coordinate,i| %>
createParcours(<%= @coordinates_hash[i] %>, '<%= color[i] %>');
<% end %>



for(var i = 0; i < Object.keys(all_markers).length; i++) {
all_markers[i].addListener('click', function() {
 var currentLatitude = this.position.lat();
 $.ajax({
    url: "/value/?pos="+currentLatitude,
    success: function(data) {

      $('#tabs-container').removeClass('hidden-content');
      $('.container-height-20vh').removeClass('hidden-content');
      if ( $('#map').attr('class') == 'map-index-start' ) {
        $('#map').removeClass('map-index-start');
        $('#map').addClass('map-index-next');
      };
      var currentDiv = $('div.tabs-menu-index > div:first-child');
      currentDiv.addClass('current');
      currentDiv.siblings().removeClass('current');
      $('div.journeys-footer-title-index > h4').removeClass("hidden-content");
      $('div.journeys-footer-title-index > h4:first-child').siblings().addClass("hidden-content");
      $('div.tab > div').removeClass("hidden-content");
      $('div.tab > div:first-child').siblings().addClass("hidden-content");
      $('div.tab > div').attr('style', '');
      $('div.tab > div:first-child').siblings().attr('style', 'display: none;');

      var length = data.length;
      if (data.length > 4) {
        length = 4;
      };
      for(var j = 0; j < 4; j++) {
        var count = j+1;
        var img = "img-"+count
        var jtitle = "tab-"+count;
        var ititle = "itab-"+count;
        var ptitle = "poi-title"+count;
        // document.getElementById(img).src = "";
        document.getElementById(ptitle).innerHTML = "";
        document.getElementById(ititle).innerHTML = "";
        document.getElementById(jtitle).innerHTML = "";



      }
      for(var j = 0; j < length; j++) {
        var count = j+1;
        var img = "img-"+count
        var jtitle = "tab-"+count;
        var ititle = "itab-"+count;
        var ptitle = "poi-title"+count;
        // document.getElementById(img).src = data[j]["avatar"];
        document.getElementById(jtitle).innerHTML = "<img class='avatar' id='"+img+"' src='"+data[j]["avatar"]+"' ></img>";
        document.getElementById(ptitle).innerHTML = data[j]["poiname"];


        // var toAddToDiv = "<h4 class='a-to-left text-center color-white itab-element'>"+ data[j]["journeyname"]+"&nbsp;&nbsp;"+"<span class='a-50-center color-white itab-element'>";

        // if (data[j]["poiphoto"]!= null) {
        //   toAddToDiv += "<i class='fa fa-camera btn-fa font-size-small' aria-hidden='true'></i>";

        // };
        // if (data[j]["poivideo"]!= null) {
        //   toAddToDiv += " "+ "<i class='fa fa-youtube-play btn-fa font-size-small' aria-hidden='true'></i>";

        // };
        // if (data[j]["poisound"]!= null) {
        //   toAddToDiv += " "+ "<i class='fa fa-microphone btn-fa font-size-small' aria-hidden='true'></i>";

        // };
        // if (data[j]["poitext"]!= null) {
        //   toAddToDiv += " "+ "<i class='fa fa-font btn-fa font-size-small' aria-hidden='true'></i>";

        // };
        // toAddToDiv +="</span></h4>"+" "+"<span class='text-center itab-element color-white '><a class='a-to-right' href='/journeys/"+data[j]["journeyid"]+"/pois/"+data[j]["poiid"]+"'>Découverte &nbsp; <i class='fa color-white fa-arrow-right btn-fa' aria-hidden='true'></i></a></span></h4>"
        var toAddToDiv =`
        <h4 class='a-to-left text-center color-white itab-element'>
          {journeyname}&nbsp;&nbsp;
          <span class='a-50-center color-white itab-element'>`;

        if (data[j]["poiphoto"]!= null) {
          toAddToDiv +=`
            <i class='fa fa-camera btn-fa font-size-small' aria-hidden='true'>
            </i>`;

        };
        if (data[j]["poivideo"]!= null) {
          toAddToDiv +=`
            <i class='fa fa-youtube-play btn-fa font-size-small' aria-hidden='true'>
            </i>`;

        };
        if (data[j]["poisound"]!= null) {
          toAddToDiv +=`
            <i class='fa fa-microphone btn-fa font-size-small' aria-hidden='true'>
            </i>`;

        };
        if (data[j]["poitext"]!= null) {
          toAddToDiv +=`
            <i class='fa fa-font btn-fa font-size-small' aria-hidden='true'>
            </i>`;

        };
        toAddToDiv +=`
          </span>
        </h4>
        <span class='text-center itab-element color-white '>
          <a class='a-to-right' href='/journeys/{linkjourney}/pois/{linkpoi}'>
            Découverte &nbsp;
            <i class='fa color-white fa-arrow-right btn-fa' aria-hidden='true'>
            </i>
          </a>
        </span>
          `

        document.getElementById(ititle).innerHTML = toAddToDiv.supplant({ journeyname: data[j]["journeyname"], linkjourney: data[j]["journeyid"], linkpoi: data[j]["poiid"]});

      }

    },

    error: function(jqXHR) {
      errorRaised = "an error was raised";
    }
  });


});
}

</script>
