<div class="containexer-full">
  <div class="row-no-padding">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="container-height">

          <% if @poi.journeys.count != 1 %>
            <div class="footer ">
              <div class="footer-user-change">

                <%= link_to journey_poi_path(@previous_journey_for_poi, @poi) do %>
                  <i class="fa fa-angle-left btn-fa" aria-hidden="true"></i>
                  <%= cl_image_tag @previous_journey_for_poi.user.avatar, class: "avatar-small" %>
                <% end %>

              </div>
              <div class="footer-title-show">
              <p>Changer de Parcours</p>
              </div>
              <div class="footer-user-change">
                <%= link_to journey_poi_path(@next_journey_for_poi, @poi) do %>

                  <%= cl_image_tag @next_journey_for_poi.user.avatar, class: "avatar-small" %>
                  <i class="fa fa-angle-right btn-fa" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          <% end %>



        <div class="banner">
          <div>


            <%= cl_image_tag @journey.user.avatar, class: "avatar" %>
          </div>
          <div class="banner-title">


            <h3> <%= @journey.name %> </h3>

            <p>par <%= @journey.user.pseudo %> </p>

          </div>
        </div>
        <div class="map-show" id="map">
        </div>

        <div class="footer-show ">
          <div class="footer-user-change">
            <%= link_to journey_poi_path(@journey, @next_poi_for_journey) do %>
              <i class="fa fa-angle-left btn-fa fa-white" aria-hidden="true"></i>
            <% end %>
          </div>

          <div class="footer-title">
          <h4><%= @journey_poi.name%></h4>
          </div>

          <div class="footer-user-change">
            <%= link_to journey_poi_path(@journey, @next_poi_for_journey) do %>
            <i class="fa fa-angle-right btn-fa fa-white" aria-hidden="true"></i>
            <% end %>

          </div>
        </div>


        <div class="alt-banner">

        </div>

        <div class="body-contenu">

          <div class="body-description">

            <p><%= @journey_poi.description %></p>

          </div>

          <hr class="padding-hr">

          <div class="body-media">

            <div class="media">
            <%= cl_image_tag @journey_poi.photo, class: "media-fix-width" %>
            <% unless @journey_poi.text.nil? %>
            <div class="media-fix-width poesie"><%= simple_format @journey_poi.text %></div>
            <% end %>
            <% unless @journey_poi.video.nil? %>
            <div class="media-fix-width"><iframe width="560" height="315" src="<%= @journey_poi.video %>" frameborder="0"></iframe></div>
            <% end %>
            <% unless @journey_poi.sound.nil? %>
            <div class="media-fix-width"><iframe width=“100%” height=“450" scrolling=“no” frameborder=“no” src="<%= @journey_poi.sound %>" ></iframe></div>
            <% end %>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">


var styleOut =
[  {
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape.man_made",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.medical",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.place_of_worship",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.school",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.sports_complex",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#2b383e"
      },
      {
        "weight": 0.5
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#00a5b7"
      },
      {
        "weight": 2
      }
    ]
  }
];

<% color_array = []%>
// La Cordee Nantes Lat Lng
var centerMap = new google.maps.LatLng(<%= @poi.latitude %>, <%= @poi.longitude %>);
var myOptions = {
  zoom: 14,
  center: centerMap,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: styleOut,
  mapTypeControl: false,
  streetViewControl: false,
  zoomControl: false
};
var map = new google.maps.Map(document.getElementById('map'), myOptions);


// http://freeiconbox.com/icon/256/34338.png
// http://maps.google.com/mapfiles/kml/shapes/flag.png
// http://maps.google.com/mapfiles/kml/shapes/arrow.png
// http://www.freeiconspng.com/uploads/illuminati-icon-png-29.png
// mapx50.png
// -----------------------------------------------------------
var titre = "La Cordee";
var blue = '#0000FF';
var green = '#00FF00';
var red = '#FF0000';
var yellow = '#F0F000';
var purple = '#FF1AFF';
var orange = '#ff6600';
var all_markers = {};
var counter = 0;
 <% color = ['#ff8b00', '#CD3131', '#d59bf6', '#ffe98a'] %>
<%
  if @journey.id == 1
    actual_color = '#ff8b00'
  elsif @journey.id == 2
    actual_color = '#CD3131'
  elsif @journey.id == 3
    actual_color = '#D59bf6'
  elsif @journey.id == 4
    actual_color = '#ffe98a'
  end
  %>
  var ico = pinSymbol('<%= actual_color %>');

function pinSymbol(color) {
  return {
        path: 'M 9.732 -0.001 c -5.375 0 -9.729 4.356 -9.732 9.73 h 0.004 c 0.025 2.399 1.686 6.169 3.576 9.84 l 4.166 7.42 c 0.852 1.41 1.418 2.301 1.42 2.305 l 0.564 0.885 l 0.564 -0.885 c 0.002 -0.004 0.57 -0.895 1.424 -2.305 l 4.164 -7.418 c 1.889 -3.67 3.547 -7.44 3.578 -9.842 c 0 -5.374 -4.353 -9.73 -9.728 -9.73 z M 9.73 14.037 c -2.596 0 -4.697 -2.104 -4.697 -4.697 s 2.101 -4.697 4.697 -4.697 c 2.594 0 4.697 2.104 4.697 4.697 s -2.103 4.697 -4.697 4.697 z',

        fillColor: color,
        fillOpacity: 1,
        scaledSize: new google.maps.Size(25, 25),
        anchor: new google.maps.Point(9, 30),
        strokeWeight: 0,
        scale: 1,

  }
};


// -----------------------------------------------------------
function marquePoi(lat,lng,ico,titre, visibility) {
  var maLatLng = new google.maps.LatLng(lat, lng);
  if (lat == <%= @poi.latitude %>) {
    ico = pinSymbol('#e6e7e8');
  };
  var marqueur = new google.maps.Marker({
  position: maLatLng,
  map: map,
  title: titre,
  icon: ico,
  visible: visibility
  });
  // marker.addListener('click', function() {
  //         console.log("hi")
  // });
  all_markers[counter] = marqueur
  counter++
  return marqueur;
};

function addToCoordinatesObjectArray(coordinatesArray, lat, lng){
  var newLatLng = new google.maps.LatLng(lat, lng)
  coordinatesArray.push(newLatLng);
};

function createParcours(hashDanslArray, color) {
  var coordinatesArray = []
    for(var i = 0; i < hashDanslArray.length; i++) {
      var lat = hashDanslArray[i][0];
      var lng = hashDanslArray[i][1];
      var total = lat+" "+lng
      addToCoordinatesObjectArray(coordinatesArray, lat, lng);
      marquePoi(lat,lng, ico, total, true)
    }
  var parcoursPath = new google.maps.Polyline({
    path: coordinatesArray,
    geodesic: true,
    strokeColor: color,
    strokeOpacity: 1,
    strokeWeight: 6,
  });
  parcoursPath.setMap(map);
};

function getCoordinatesonClick() {
  var infowindow = null;
  var marqueur = null;
  map.addListener("click", function (event) {
    if (infowindow) {
      infowindow.close();
    }
    var lat = event.latLng.lat();
    var lng = event.latLng.lng();
    infowindow = new google.maps.InfoWindow({
      content: lat + ', ' + lng
    });
    marqueur = marquePoi(lat, lng, ico, "", false)
    infowindow.open(map, marqueur);
  });
};

// -----------------------------------------------------------

// < color = ['#E59500', '#F44336', '#E5DADA', '#52DEE5'] %>
// < @coordinates_hash.each_with_index do |coordinate,i| %>
// createParcours(<= coordinate %>, '<= color[i] %>');
// < end %>



  createParcours(<%= @coordinates_hash[0] %>, '<%= actual_color %>');
  // marquePoi(<%= @poi.latitude %>, <%= @poi.longitude %>, 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' ,'current marker', true);

</script>
