<div class="container-full">
  <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="container-height">
          <div class="alt-banner">
            <%= image_tag "media_template.png", class: "img-responsive-show" %>
          </div>
          <div class="banner">
            <div>
            </div>
            <div class="banner-title">
              <h3>
              <% if !@poi.name.empty? %>
              <%= @poi.name.capitalize %>
              <% end %>
              </h3>
            </div>
        </div>
        <div class="body-contenu-show">

    <% @diff_journey.each do |journey|%>
      <div class="body-description-show">
        <div class="body-description-show-image"><%= image_tag "logo.png",  alt: "user", class: "avatar-large" %>
        </div>
        <div class="body-description-show-item">
         <h3><%= journey.name %></h3>
        </div>
        <div class="body-description-show-icon">
        <% unless journey.journey_pois.where(poi_id: @poi.poi_id)[0].video.nil? %>
        <a href="<%= journey.journey_pois.where(poi_id: @poi.poi_id)[0].video %>"><i class="fa fa-youtube-play btn-fa" aria-hidden="true"></i></a>
        <% end %>
        <% unless journey.journey_pois.where(poi_id: @poi.poi_id)[0].photo.url.nil? %>
        <a href="<%= journey.journey_pois.where(poi_id: @poi.poi_id)[0].photo %>"><i class="fa fa-camera btn-fa" aria-hidden="true"></i></a>
        <% end %>
        <% unless journey.journey_pois.where(poi_id: @poi.poi_id)[0].sound.nil? %>
        <a href="<%= journey.journey_pois.where(poi_id: @poi.poi_id)[0].sound %>"><i class="fa fa-microphone btn-fa" aria-hidden="true"></i></a>
        <% end %>
        <% unless journey.journey_pois.where(poi_id: @poi.poi_id)[0].text.nil? %>
        <i class="fa fa-font btn-fa" aria-hidden="true"></i>
        <% end %>
        </div>
      </div>
      <hr class="padding-hr">
    <% end %>

          <div class="body-description-show">
            <div class="body-description-show-share">
              <i class="fa fa-plus-circle btn-fa" style=""aria-hidden="true"></i>
            </div>
            <div class="body-description-show-item">
              <h3>Partage ta story</h3>
            </div>
            <div>
            </div>
          </div>
          <hr class="padding-hr">
          <div class="body-media">
          </div>
         </div>

      </div>
    </div>
  </div>
</div>


