<div class="container-full">
  <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="container-height">
            <div class="footer ">
              <div class="footer-user-change">
                <%= link_to journey_poi_path(@previous_journey_for_poi, @poi) do %>
                  <i class="fa fa-angle-left btn-fa" aria-hidden="true"></i>
                  <%= @previous_journey_for_poi.user.avatar %>
                <% end %>
              </div>
              <div class="footer-title-show">
              <p>Switch journey</p>
              </div>
              <div class="footer-user-change">
                <%= link_to journey_poi_path(@next_journey_for_poi, @poi) do %>
                  <% binding.pry %>
                  <%= cl_image_tag @next_journey_for_poi.user.avatar %>
                  <i class="fa fa-angle-right btn-fa" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
        <div class="banner">
          <div>
            <%= @journey.user.avatar %>
          </div>
          <div class="banner-title">


            <h3> <%= @journey.name %> </h3>

            <p>par <%= current_user.pseudo %> </p>

          </div>
        </div>
          <div class="map" id="map">
          </div>

        <div class="footer-show ">
          <div class="footer-user-change">
            <%= link_to journey_poi_path(@journey, @next_poi_for_journey) do %>
              <i class="fa fa-angle-left btn-fa fa-white" aria-hidden="true"></i>
            <% end %>
          </div>

          <div class="footer-title">
          <h4><%= @journey_poi.name%></h4>
          </div>

          <div class="footer-user-change">
            <%= link_to journey_poi_path(@journey, @next_poi_for_journey) do %>
            <i class="fa fa-angle-right btn-fa fa-white" aria-hidden="true"></i>
            <% end %>

          </div>
        </div>


        <div class="alt-banner">

        </div>

        <div class="body-contenu">

          <div class="body-description">

            <p><%= @journey_poi.description %></p>

          </div>

          <hr class="padding-hr">

          <div class="body-media">

            <div class="img-responsive-custom">
            <%= cl_image_tag @journey_poi.photo %>
            <%= @journey_poi.text %>
            <%= @journey_poi.video %>
            <%= @journey_poi.sound %>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>

</div>

